@model MVC_CRUD.Entities.Models.Sales

@{
    ViewData["Title"] = "EditSale";
}

<h1>Change Amount</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalesId" class="control-label">Sale Id</label>
                <input asp-for="SalesId" class="form-control" readonly/>
                <span asp-validation-for="SalesId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProductId" class="control-label">Product Name</label>
                <input asp-for="ProductId" class="form-control" readonly/>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
           
            
            <div class="form-group">
                <label asp-for="AmountSaled" class="control-label">Amount Saled</label>
                <input asp-for="AmountSaled" class="form-control" />
                <span asp-validation-for="AmountSaled" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
